@using climate_MVC.Models.DTO
@model weatherForecastRegisterDTO
@{
    ViewBag.Title = "Editar registro";
}
@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("GuardarEdicion", "Home", FormMethod.Post))
    {
        <div class="box-main">
            <div class="form-group">
                @Html.LabelFor(model => model.DateRegister, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-size:11px" })
                @Html.EditorFor(model => model.DateRegister, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DateRegister, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ClimaticDescription, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-size:11px" })
                @Html.EditorFor(model => model.ClimaticDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ClimaticDescription, "", new { @class = "text-danger" })
            </div>

            <div class="form-group" style="text-align:left;">
                @Html.LabelFor(model => model.Alert, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-size:11px" })
                @Html.DropDownListFor(model => model.IdAlert, new SelectList(Model.listaAlertas, "ID", "NameAlert"), "Seleccione", new { @id = "ddlListaAlerta", style = "width:270px;" })
                @Html.ValidationMessageFor(model => model.Alert, "", new { @class = "text-danger" })
            </div>

            <div class="form-group" style="text-align:left;">
                @Html.LabelFor(model => model.ClimaticPhenomenon, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-size:11px" })
                @Html.DropDownListFor(model => model.IdClimaticPhenomenon, new SelectList(Model.listaClimathicPhenomeno, "ID", "DescriptionClimaticPhenomenon"), "Seleccione", new { @id = "ddlListaFenomeno", style = "width:270px;" })
                @Html.ValidationMessageFor(model => model.ClimaticPhenomenon, "", new { @class = "text-danger" })
            </div>

            <div class="form-group" style="">
                @Html.LabelFor(model => model.Temperature, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-size:11px" })
                @Html.EditorFor(model => model.Temperature, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Temperature, "", new { @class = "text-danger" })
            </div>

            <div class="form-group" style="text-align:left;">
                @Html.LabelFor(model => model.tipoTemperatura, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-size:11px" })
                @Html.DropDownListFor(model => model.IdTypeTemperature, new SelectList(Model.listatipoTemperatura, "ID", "NameTypeTemp"), new { @id = "ddlListaTipoTemperatura", style = "width:270px;" })
                @Html.ValidationMessageFor(model => model.tipoTemperatura, "", new { @class = "text-danger" })
            </div>

            <div class="form-group" style="text-align:left;">
                @Html.LabelFor(model => model.WeatherStation, htmlAttributes: new { @class = "control-label col-md-2", @style = "font-size:11px" })
                @Html.DropDownListFor(model => model.IdWeatherStation, new SelectList(Model.listaEstaciones, "ID", "NameStation"), new { @id = "ddlListaEstaciones", style = "width: 270px;" })
                @Html.ValidationMessageFor(model => model.WeatherStation, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.HiddenFor(model => model.ID)
                @Html.HiddenFor(model => model.DateRegister)
                @Html.HiddenFor(model => model.StateRegister)
                <input type="submit" value="Actualizar" class="btn btn-primary btn.white" style="color:white;" />
            </div>

            <div class="form-group" style="text-align:left;">
                <a href="@Url.Action("Index", "Home")" class="btn btn-primary">
                    Volver
                    <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
                </a>
            </div>
        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    }
    <footer>
        <p class="text-center">@DateTime.Now.Year - Registro climatico</p>
    </footer>
}
